<nav class="flex items-center justify-between flex-wrap bg-yellow-500 p-2">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
        <LinkTo @route="index" class="flex flex-row items-center">
            <img src="/images/logoBW.png" height="50" />
            <span class="font-mono tracking-tight text-white text-xl navigation_title">Hot 100 🔥</span>
        </LinkTo>
    </div>
    <div class="hidden xl:flex">
        <button {{on "click" (fn this.filterByCategory 'Alternative')}}
            class="mr-4 bg-transparent hover:bg-white text-white font-semibold hover:text-yellow-500 py-2 px-4 border border-white hover:border-transparent rounded">
            Alternative
        </button>
        <button {{on "click" (fn this.filterByCategory 'Country')}}
            class="mr-4 bg-transparent hover:bg-white text-white font-semibold hover:text-yellow-500 py-2 px-4 border border-white hover:border-transparent rounded">
            Country
        </button>
        <button {{on "click" (fn this.filterByCategory 'Christian & Gospel')}}
            class="mr-4 bg-transparent hover:bg-white text-white font-semibold hover:text-yellow-500 py-2 px-4 border border-white hover:border-transparent rounded">
            Christian
        </button>
        <button {{on "click" (fn this.filterByCategory 'Pop')}}
            class="mr-4 bg-transparent hover:bg-white text-white font-semibold hover:text-yellow-500 py-2 px-4 border border-white hover:border-transparent rounded">
            Pop
        </button>
        <button {{on "click" (fn this.filterByCategory 'Rock')}}
            class="mr-4 bg-transparent hover:bg-white text-white font-semibold hover:text-yellow-500 py-2 px-4 border border-white hover:border-transparent rounded">
            Rock
        </button>
        <button {{on "click" (fn this.filterByCategory 'R&B/Soul')}}
            class="mr-4 bg-transparent hover:bg-white text-white font-semibold hover:text-yellow-500 py-2 px-4 border border-white hover:border-transparent rounded">
            R&B/Soul
        </button>
        <button {{on "click" (fn this.filterByCategory 'Soundtrack')}}
            class="mr-4 bg-transparent hover:bg-white text-white font-semibold hover:text-yellow-500 py-2 px-4 border border-white hover:border-transparent rounded">
            Soundtrack
        </button>
    </div>
    <div class="flex flex-row w-96">
        <button {{on "click" this.resetAlbums}}
            class="mr-4 bg-transparent hover:bg-white text-white font-semibold hover:text-yellow-500 py-2 px-4 border border-white hover:border-transparent rounded">
            Clear
        </button>
        <Input @value={{this.searchTerm}} {{on "change" this.searchForAlbum}} id="search"
            class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal"
            placeholder="Search for album" />
    </div>
</nav>